{:paths ["src" "resources"]
 :jolt/build {:embed ["resources"]}
 :aliases {:test {:extra-paths ["test"]
                  ;; Kept explicit even though Malli currently brings it transitively:
                  ;; property tests are an intentional test-suite dependency.
                  :extra-deps {org.clojure/test.check {:mvn/version "1.1.3"}}}}
 :deps {jolt-lang/ring-chez-adapter
        {:git/url "https://github.com/jolt-lang/ring-chez-adapter"
         :git/sha "665508bbf329bc046fa06bca1ed9cebee257686b"}
        jolt-lang/http-client
        {:git/url "https://github.com/jolt-lang/http-client"
         :git/sha "6faba3570378df91c2c84a588a262b732f4f1858"}
        clojure/data.json
        {:git/url "https://github.com/clojure/data.json"
         :git/sha "94463ffb54482427fd9b31f264b06bff6dcfd557"}
        ;; clojure.data.json requires Jolt's java.time compatibility library.
        io.github.jolt-lang/time
        {:git/url "https://github.com/jolt-lang/time"
         :git/sha "89b2e288bd0c6d8ba402cfb52e75652355201441"}
        metosin/malli
        {:git/url "https://github.com/metosin/malli"
         :git/sha "a74e3b45efa30b3bcdb2e997f337c71614eba3c5"}
        ;; Command tree, option validation/coercion, and generated help.
        ;; Verified under Jolt; see ADR 260820B.
        org.babashka/cli {:mvn/version "0.12.86"}
        askonomm/ruuter
        {:git/url "https://git.nmm.ee/asko/ruuter.git"
         :git/tag "v2.1.1"
         :git/sha "263f868cf19e73ccda7cda6b4d4af1d8fe504749"}
        jolt-lang/nrepl
        {:git/url "https://github.com/jolt-lang/nrepl"
         :git/tag "v0.1.0"
         :git/sha "3cfc0bdf0dd894bcaf22f4e70f31c590e2450c74"}
        org.clojure/tools.logging
        {:git/url "https://github.com/jolt-lang/logging"
         :git/sha "ec6747e55583118d881faf4ab41e68d7e587ce4c"}}
 :nrepl/middleware [nrepl.middleware/default-middleware]}
